.btn-link {
  color: #fff;
  background-color: var(--color-background-2);
  font-size: 16px;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 1px;
}

.btn-link a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.btn-link--stacked .btn-link__text {
  font-size: 14px;
}

.btn-link--stacked {
  padding: 5px 20px;
}

@media (width < 600px) {
  .btn-link {
    font-size: 12px;
    padding: 10px 20px;
  }

  .btn-link--stacked {
    padding: 5px 15px;
  }

  .btn-link--stacked .btn-link__text {
    font-size: 12px;
    display: inline-block;
    width: min-content;
  }
}
