.section-3__image-wrapper {
  width: clamp(300px, 26.315vw, 450px);
  flex: 0 0 auto;
  position: relative;
  display: block;
  border-radius: 3px;
  align-self: flex-start;
}

.section-3__image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1; /* фото ниже overlay и текста */
  position: relative;
  border-radius: 3px;
  filter: brightness(0.5);
}

/* текст поверх overlay */
.section-3__image-text {
  position: absolute;
  bottom: 31px;
  left: 29px;
  width: 50%;
  color: #fff;
  margin: 0;
  line-height: 1.4;
  z-index: 3; /* текст поверх overlay */
  border-radius: 3px;
  font-size: clamp(13px, 0.91rem, 30px);
}

.section-3__title {
  font-size: 2.363rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 119%;
}

.section-3__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-3__subtitle {
  font-size: clamp(13px, 0.901rem, 30px);
}

.section-3 {
  padding: 24px 15px;
}

/* @media (--min-viewport) {

} */

@media (--md-viewport) {
  .section-3__container {
    display: flex;
    gap: clamp(40px, 10.789vw, 200px);
  }

  .section-3 {
    padding: clamp(40px, 6.578vw, 100px) clamp(50px, 7.894vw, 120px);
  }
}

@media (--xl-viewport) {
  .section-3 {
    padding: 100px 120px;
  }
}
