.section-7__header {
  font-weight: 700;
  font-size: 1.909rem;
  text-align: center;
}

.section-7__content {
  display: flex;
  gap: clamp(14px, 1.363vw, 30px);
  justify-content: center;
}

.section-7__step {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center; /* по центру по горизонтали */
  text-align: center;
}

.section-7__step-title {
  font-weight: 700;
  font-size: 1.3rem;
}

.section-7__step-description {
  font-weight: 400;
  font-size: clamp(13px, 0.727rem, 24px);
}

@media (--min-viewport) {
  .section-7__container {
    padding: 24px 15px;
  }
}

@media (--xl-viewport) {
  .section-7 {
    padding: 62px 0;
  }
}
