.u-space-40 {
  margin-top: 40px;
}

.u-space-25 {
  margin-top: 25px;
}

.u-space-60 {
  margin-top: 60px;
}

.u-space-50 {
  margin-top: 50px;
}

.u-space-33 {
  margin-top: 33px;
}

.u-space-8 {
  margin-top: 8px;
}
